<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVFoundationCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CE0CFF01BFADA3D00020799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CE0D0091BFADA3D00020799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CE0D0141BFADA3D00020799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
